
.banner > img
{
    object-fit: cover;
    max-width: 100%;
}
.banner
{
    margin: 0;
}
.header
{
    background-image: url("../dodaci/slike/banner.jpg");
}

/*      navigacija
    -------------------  */

.navigacijaKontejner
{
    background-color: rgb(14, 56, 20);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.3rem;
    height: 50px;
        align-items: center;


}

.navigacijaKontejner ul
{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0;    
    align-items: stretch;
    margin: 0;
    height: 100%;

}
.navigacijaKontejner ul li
{
    list-style-type: none;
}
.navigacijaKontejner ul li a
{
    color: inherit;
    text-decoration: none;
    display: flex;          
    align-items: center;
    justify-content: center;
    height: 100%;          
    padding: 0 1rem;
    position: relative;
}

/* animacija linije na meniju */

.navigacijaKontejner ul li a::after
{
    content: "";
    position: absolute;
    background-color: green;
    height: 3px;
    bottom: 5px;
    width: 0%;
    transition: 0.5s ease;
}

.navigacijaKontejner ul li a:hover::after
{
    width: 50%;

}
.navigacijaKontejner ul li a:hover{
    background-color: rgb(195, 241, 197);
    color: rgb(19, 78, 34);
    transition: 0.5s ease;

}

