:root {
  /* Boje */
  --siva: rgb(41, 41, 41);
  --zelena: rgb(45, 78, 26);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  padding: 5%;
  margin: 0;
  background-color: var(--siva);
  color: white;
}

.okvirSajta {
  background-color: var(--siva);
  color: white;
  border: 2px solid var(--zelena);
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabelaPocetna {
  width: 80%;
  margin: 2%;
}

.tabelaPocetna > table {
  padding: 2%;
  width: 100%;
}
.tabelaPocetna > table,
th,
td {
  border: 2px solid green;
  border-collapse: collapse;
}
.tabelaPocetna > tr,
th,
td {
  padding: 1%;
}

/* Globalni stil linkova */

a {
  text-decoration: none;
  color: greenyellow;
}

.vracanjeNijePronadjenoDugme {
  border: 1px solid green;
  padding: 10px;
  margin-bottom: 5rem;
}
.vracanjeNijePronadjenoDugme:hover {
  background-color: green;
  border: none;
  color: white;
  transition: 0.2s ease;
}

/* Sednica stranica */

.okvirSajta.sednica {
  display: flex !important;
  justify-content: start !important;
  align-items: start !important;
}
.okvirSajta > .tackeDnevnogRedaSednica,
.okvirSajta > .zapisnikSednica {
  max-width: 700px;
}

/* Pretraga */

.pretragaKontejner {
  display: flex;
  gap: 10px;
  border: 1px solid green;
  padding: 1.2rem;
}

/* tabela posebno */

.brojPrisutnihPolje {
  text-align: center;
}

/* prijava */

.glavniFormat.prijava {
  border: none;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.prijavaStranica {
  border: 1px solid green;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3%;
  backdrop-filter: blur(10px);
  background-color: rgba(36, 126, 41, 0.034);
  border-radius: 30px 30px;
}
.prijavaStranica > h1 {
  margin-bottom: 50px;
}
.unosPolje {
  padding: 2%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
label {
  display: flex;
  justify-content: flex-end;
}

.unosPolje.inputs {
  width: 100%;
  display: flex;
}
.unosPolje a {
  text-decoration: underline;
}
.unosPolje a:hover {
  transition: 1s ease-in;
  font-style: italic;
  color: greenyellow;
}

.unosPolje button {
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  border-radius: 30px 30px;

  color: var(--zelena);
  background-color: white;
}
.unosPolje button:hover {
  transition: 0.2s ease-in;
  background-color: var(--zelena);
  color: white;
}
.unosPolje label {
  flex: 1;
  text-align: right;
  margin-right: 10px;
}

.unosPolje input {
  border: none;
  padding: 5px;
  max-width: 300px;
  flex: 2;
}
.linijaPrijave {
  width: 80%;
}

.unosPolje.reg {
  gap: 5%;
}
.unosPolje.reg input {
  margin-right: 7%;
}

.unosPolje.sednica {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.unosPolje.sednica > label,
.unosPolje.sednica > input {
  display: flex;
  flex: 0 !important;
}
